body {
    background-color: #00FFFF;
}

a  {
  color: blue;
  font-family: "Times New Roman";
}
 p {
   color: black;
  font-family: "Times New Roman";
  font-size: 19px;
    display: inline;
}


h1 {
   font-family: "Times New Roman";
   color: black;
}



