

<h3>
<a href="/weather" class="btn btn-success" role="button">Text Weather!</a> <br>
<a href="/youtube" class="btn btn-warning" role="button">Text Youtube!</a><br>
<a href="/both" class="btn btn-danger" role="button"> Text Both!</a>
  </h3>