<form action="/pref" method="POST">
  <input type="checkbox" name="weather" value="weather"> Weather
  <input type="checkbox" name="youtube"value="youtube">Youtube
  <input type="submit" value="Submit">
</form>


